details {
  & > summary {
    &::-webkit-details-marker {
      display: none;
    }

    &:before {
      content: ' ';
      border-top: 6px solid transparent;
      border-left: 10px solid white;
      border-bottom: 6px solid transparent;
      display: inline-block;
      margin-right: 1rem;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      color: #00c8fa;

      &:before {
        border-left-color: #00c8fa;
      }
    }
  }

  &[open] > summary:before {
    transform: rotate(90deg);
  }
}